src/main/mule/dateproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6dd5b4b2-e8a2-4e4d-815f-446c11295314" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dateprojectFlow" doc:id="2088f76f-c81e-468d-af14-6f1b0f2b2ee2" >
		<http:listener doc:name="Listener" doc:id="60a87559-567b-4a27-8110-dc1c8a02d9d8" config-ref="HTTP_Listener_config" path="/date"/>
		<set-variable value="#[now()]" doc:name="Set Variable" doc:id="0625544e-2a31-46db-80ea-4896962d2776" variableName="date"/>
		<ee:transform doc:name="Transform Message" doc:id="eccafa83-c685-4c3c-963a-4b324e6d17e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"TodayDate" : vars.date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
